{{ define "main" }}

{{ partial "components/page-title.html" . }}

{{ if site.Params.google_map.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Trouvez-moi sur Google Maps</h2>
      </div>
      <div class="col-12">
        <iframe style="height:500px;width:100%;" frameborder="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674384.9617768446!2d1.9422624086630234!3d48.6803178177982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e1c403a68c17%3A0x10b82c3688b2570!2s%C3%8Ele-de-France%2C%20France!5e0!3m2!1sfr!2sma!4v1677642561126!5m2!1sfr!2sma" 
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" 
          title="Google Maps - Île-de-France, France">
        </iframe>
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Suivez-moi sur les réseaux sociaux</h2>
      </div>
      <div class="col-12">
        <ul class="list-inline social-icons text-center">
          {{ range site.Params.social }}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/soukaina-ouakka"><i class="{{.icon}}"></i></a>
            <span class="visually-hidden">{{.title}}</span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}